.offer {
  margin-top: 110px !important;
  &__items {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__link {
      margin-bottom: 20px;
      transition: all .2s ease-in-out;
    }

    &__link:hover {
      transform: scale(1.1);
    }
  }
}

@mixin offer--desktop(){
  .offer {
    &__items {
      flex-direction: row;

      &__link {
        margin-left: 20px;
        margin-bottom: unset;
      }

      &__link:last-child {
        margin-right: 20px;
      }
    }
  }
}